<div class="row">
    <div class="col-2 bg-light pr-0 mt-0">

        <nav class="sidebar sticky-left" aria-label="Main navigation">
            <div class="sidebar-sticky">
                <img src="assets/images/about-me-avatar2.jpg" class="img-fluid w-75 mt-4 mb-3 ml-4"
                    alt="Responsive image" style="border-radius: 50%;">

                <div class="border-bottom pb-3 mt-2 mr-3">
                    <span>
                        <h3><strong style="color: #17a2b8;">ZHU Chongyang</strong></h3>
                        <h6 class="text-secondary">Ingégnieur d'Etudes et Développement
                            JAVA/J2EE</h6>
                    </span>
                </div>


            </div>
        </nav>
    </div>
    <div class="col-10 pr-0 pl-0" id="user_layout">
        <div id="about_me_main_div" class="mr-0 pr-0 pl-0 mr-0"
        style="overflow: auto;">
            <div class="row mr-0 ml-0">
                <div class="col-6 pl-0 pr-0">
                    <div class="shadow-lg background-white pr-0" style="background-color: white;
                    position: inherit;
                    left: 50px;
                    z-index: 9;">
                        <div class="border-bottom m-3 pt-1 pb-3"> <span style="font-size: 20px;
                        font-weight: bold;
                        color: #bb0404b3;">Expériences Professionnelles</span>
                        <!--
                            <div class="float-right"><button type="button" data-toggle="modal"
                                    data-target="#cvDetailModal" class="btn btn-link more-detail"> Plus de détail
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
                                    </svg>
                                </button></div>-->
                        </div>

                        <div class="pl-3 pr-3 text-secondary">
                            <div class="row">
                                <div class="col-12" style="text-decoration: underline;"><strong> 10/2018 - Auj. :
                                    </strong>Ingénieur
                                    d'etudes et développement JAVA/J2EE, Chez <strong>Sully Group</strong>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">

                                    <strong> Client : </strong>AERMC (Agence de l'Eau Rhône-Méditerranée-Corse), Lyon,
                                    08/2019-08/2020 <br>
                                    <strong> Techniques/méthodologie : </strong>Java, Spring, Spring MVC, Hibernate,
                                    JPA,
                                    JSP, JQuery, SQL, Oracle, Gitlab, Maven, Eclipse. Agile<br>
                                    <strong> Missions : </strong>Participation au développement des évolution de
                                    l’application GDAI (Gestion Des Aides aux Investissements) ;
                                    gestion du contrôle de version ; qualification du code.
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">

                                    <strong> Client : </strong>Amer Sports, Annecy, 10/2018-07/2019 <br>
                                    <strong> Techniques/méthodologie : </strong>Java, Spring, Struts, Hibernate, JPA,
                                    JSP,
                                    JQuery, SQL, Oracle, Maven, Eclipse, GitLab. Test unitaire. Agile/Scrum<br>
                                    <strong> Missions : </strong>participation au développement et au support niveau
                                    trois
                                    de deux applications :
                                    PLM (Product Lifecycle Management) et Centric Connector (une application
                                    d’interfaçage
                                    entre PLM et l’ESB (Enterprise Service Bus)) ;
                                    participation à la qualification du code et à l’intégration continue.
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="pl-3 pr-3 text-secondary">
                            <div class="row">
                                <div class="col-12" style="text-decoration: underline;"><strong> 11/2016 - 10/2018
                                        :</strong>
                                    Ingénieur d'etudes et développement JAVA/J2EE, Chez <strong> Econocom</strong>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">

                                    <strong> Client : </strong>Schneider Electric, Grenoble <br>
                                    <strong> Techniques/méthodologie : </strong>Java, Swing, Spring Boot, Hibernate,
                                    Bootstrap 4,
                                    Angular 5, SQL, SQL Server, Talend, Eclipse, SVN. Agile<br>
                                    <strong> Missions : </strong>Participation au développement de deux applications en
                                    Java/Swing/SQL Serveur ;
                                    participation à la conception et au développement d’une solution ETL en utilisant
                                    Talend/Java pour une migration des données des systèmes de PIM ;
                                    participation à l’initialisation d’une application web en Java EE/Angular 5.
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="pl-3 pr-3 text-secondary">
                            <div class="row">
                                <div class="col-12" style="text-decoration: underline;"><strong> 09/2015 - 09/2016 :
                                    </strong>Alternant - Support et développement de la migration de données et des
                                    solutions applicatives,
                                    Chez <strong>Schneider Electric</strong>, Grenoble
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">

                                    <strong> Techniques/méthodologie : </strong>VBA, Java, Spring boot, Spring MVC,
                                    Mybatis,
                                    JSP, JQuery, SQL Oracle, Modélisation des données<br>
                                    <strong> Missions : </strong>participation à la migration des données et à la
                                    modélisation de SDH (Schneider Electric Data Hub);
                                    participation à l’initialisation de l’application HMS (Hierarchy Management System)
                                    en utilisant Java EE.
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="pl-3 pr-3 text-secondary">
                            <div class="row">
                                <div class="col-12" style="text-decoration: underline;"><strong> 05/2015 - 08/2015 :
                                    </strong>Stagiaire - Développement en Drupal 7, à la <strong> Délégation Alpes du
                                        CNRS</strong>, Grenoble
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">

                                    <strong> Techniques/méthodologie : </strong>Html5, CSS, Javascript, PHP, Drupal
                                    7<br>
                                    <strong> Missions : </strong>Au service des systèmes d’information, participation
                                    à la migration du système d’intranet de la délégation au platform Drupal 7.
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="pl-3 pr-3 text-secondary">
                            <div class="row">
                                <div class="col-12" style="text-decoration: underline;"><strong> 02/2010 - 10/2011 :
                                    </strong>Concepteur/développeur Jave EE, Chez <strong>Shenzhen YLink Computing
                                        System
                                        Co., Ltd</strong>
                                    et <strong> Shenzhen Huijiujiu Information Technology Co., Ltd</strong>, Shenzhen,
                                    Chine
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <strong> Techniques/méthodologie : </strong>Java, Spring, Struts2, Spring MVC,
                                    Hibernate, iBATIS, Html5, CSS, Javascript, JQuery, Sql, Oracle 10g
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-6">

                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="col-12 p-0">
                                <img src="assets/images/about-me-bg5.jpg" class="img-fluid shadow-lg"
                                    alt="Responsive image" style="position: inherit;top:150px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-9 p-0">
                            <div class="shadow-lg background-white" style="
                                background-color: white;
                                position: inherit;
                                top: 160px;
                                z-index: 9;">
                                <div class="border-bottom m-3 pt-3 pb-3" style="font-size: 20px;
                 font-weight: bold;
                 color: #bb0404b3;"> Formations
                                </div>
                                <div class="pl-3 pr-3 pb-4 text-secondary">
                                    <table>
                                        <tr>
                                            <td class="col-head">2017</td>
                                            <td>Formation Talend et Angular 5</td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">2015 - 2016</td>
                                            <td>Master 2 MIAGE – Université Joseph Fourrier</td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">2014 - 2015</td>
                                            <td>Master 1 MIAGE - Université Joseph Fourrier</td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">2013 - 2014</td>
                                            <td>Licence 3 MIAGE - Université Joseph Fourrier</td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">2005 - 2009</td>
                                            <td>Licence d’Ingénierie Electro-Informatique - Université des Géosciences
                                                de
                                                Chine</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-9 p-0">
                            <div class="shadow-lg background-white" style="
                        background-color: white;
                        position: inherit;
                        top: 160px;
                        z-index: 9;">
                                <div class="border-bottom m-3 pt-3 pb-3" style="font-size: 20px;
                font-weight: bold;
             color: #bb0404b3;"> Compétences
                                </div>
                                <div class="pl-3 pr-3 pb-4 text-secondary">

                                    <table>
                                        <tr>
                                            <td class="col-head">Avancé</td>
                                            <td>Java, J2EE, Spring Boot, Spring MVC, JSP, JPA, Hibernate, JavaScript,
                                                JQuery, Angular 9,
                                                HTML5, CSS, Bootstrap 4, SQL</td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">Intermédiaire</td>
                                            <td>Swing, MyBatis, Struts 2, Talend</td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">Débutant</td>
                                            <td>Vue.js, Thymeleaf, PHP, Drupal 7</td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">SGBD</td>
                                            <td>MySql, Oracle, SQL serveur</td>
                                        </tr>
                                        <tr>
                                            <td class="col-head">Outils</td>
                                            <td>SVN, GIT, JIRA, Jenkins, Tomcat, Eclipse, Visual Studio Code</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<!--
<div class="modal fade" id="cvDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Expériences Professionnelles

                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12" style="overflow: auto;height: 550px;">

                        <div class="pl-3 text-secondary">
                            <div class="row">
                                <div class="col-12" style="text-decoration: underline;"><strong> 10/2018 - Auj. :
                                    </strong>Ingénieur
                                    d'etudes et développement JAVA/J2EE, Chez <strong>Sully Group</strong>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">

                                    <strong> Client : </strong>AERMC (Agence de l'Eau Rhône-Méditerranée-Corse), Lyon,
                                    08/2019-08/2020 <br>
                                    <strong>Context : </strong>AERMC est l'une des six agences françaises chargées de la
                                    lutte contre la pollution et
                                    de la protection des milieux aquatiques. ils acceuilli, analyse des demandes des
                                    communs ou des
                                    Entreprise, et à fin de leur supporter financement leur projets aquatiques. <br>
                                    <strong> Techniques/méthodologie : </strong>Java, Spring, Spring MVC, Hibernate,
                                    JPA,
                                    JSP, JQuery, SQL, Oracle, Gitlab, Maven, Eclipse. Agile<br>
                                    <strong> Missions : </strong>Participation au développement des évolution de
                                    l’application GDAI (Gestion Des Aides aux Investissements) ;
                                    gestion de l’intégration continue ; qualification du code.


                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">

                                    <strong> Client : </strong>Amer Sports, Annecy, 10/2018-07/2019 <br>
                                    <strong> Techniques/méthodologie : </strong>Java, Spring, Struts, Hibernate,
                                    JPA, JSP,
                                    JQuery, SQL, Oracle, Maven, Eclipse, GitLab. Test unitaire. Agile/Scrum<br>
                                    <strong> Missions : </strong>participation au développement et au support niveau
                                    trois
                                    de deux applications :
                                    PLM (Product Lifecycle Management) et Centric Connector (une application
                                    d’interfaçage
                                    entre PLM et l’ESB (Enterprise Service Bus)) ;
                                    participation à la qualification du code et à l’intégration continue.


                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="pl-3  text-secondary">
                            <div class="row">
                                <div class="col-12" style="text-decoration: underline;"><strong> 11/2016 - 10/2018
                                        :</strong>
                                    Ingénieur d'etudes et développement JAVA/J2EE, Chez <strong> Econocom</strong>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">

                                    <strong> Client : </strong>Schneider Electric, Grenoble <br>
                                    <strong> Techniques/méthodologie : </strong>Java, Swing, Spring Boot, Hibernate,
                                    Bootstrap 4,
                                    Angular 5, SQL, SQL Server, Talend, Eclipse, SVN. Agile<br>
                                    <strong> Missions : </strong>Participation au développement de deux applications
                                    en
                                    Java/Swing/SQL Serveur ;
                                    participation à la conception et au développement d’une solution ETL en
                                    utilisant
                                    Talend/Java pour une migration des données PIM ;
                                    participation à l’initialisation d’une application web en Java EE/Angular 5.


                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="pl-3  text-secondary">
                            <div class="row">
                                <div class="col-12" style="text-decoration: underline;"><strong> 09/2015 - 09/2016 :
                                    </strong>Alternant - Support et développement de la migration de données et des
                                    solutions applicatives,
                                    Chez <strong>Schneider Electric</strong>, Grenoble
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">

                                    <strong> Techniques/méthodologie : </strong>VBA, Java, Spring boot, Spring MVC,
                                    Mybatis,
                                    JSP, JQuery, SQL Oracle, Modélisation des données<br>
                                    <strong> Missions : </strong>participation à la migration des données et à la
                                    modélisation de SDH ;
                                    participation à l’initialisation de l’application HMS en utilisant Java EE.


                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="pl-3  text-secondary">
                            <div class="row">
                                <div class="col-12" style="text-decoration: underline;"><strong> 05/2015 - 08/2015 :
                                    </strong>Stagiaire - Développement en Drupal 7, à la <strong> Délégation Alpes
                                        du
                                        CNRS</strong>, Grenoble
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">

                                    <strong> Techniques/méthodologie : </strong>Html5, CSS, Javascript, PHP, Drupal
                                    7<br>
                                    <strong> Missions : </strong>Au service des systèmes d’information,
                                    participation
                                    à la migration du système d’intranet de la délégation au platform Drupal 7.
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="pl-3  text-secondary">
                            <div class="row">
                                <div class="col-12" style="text-decoration: underline;"><strong> 02/2010 - 10/2011 :
                                    </strong>Concepteur/développeur Jave EE, Chez <strong>Shenzhen YLink Computing
                                        System
                                        Co., Ltd</strong>
                                    et <strong> Shenzhen Huijiujiu Information Technology Co., Ltd</strong>,
                                    Shenzhen, Chine
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <strong> Techniques/méthodologie : </strong>Java, Spring, Struts2, Spring MVC,
                                    Hibernate, iBATIS, Html5, CSS, Javascript, JQuery, Sql, Oracle 10g
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">{{'btn.save'|translate}}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'btn.close'|translate}}</button>
            </div>
        </div>
    </div>
</div>
-->