<div>
    <div class="row mr-0 ml-0">

        <div class="float-left col-9">
            <br>
            <app-search></app-search>
            <br>
        </div>

        <div class="col-3 mb-1">
            <br>
            <div class="float-right">
                <button (click)="add();resetSubmitFlag()" type="button" class="btn btn-primary btn-sm"
                    data-toggle="modal" data-target="#groupPageModal">{{'btn.createGroup'|translate}}</button>
            </div>
            <br>
        </div>

    </div>
    <div class="row  mr-0 ml-0">
        <div class="col-12 pl-0">
            <div class="mr-3 ml-0">
                <table class="table table-striped table-sm ml-3 bg-white">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">
                                {{'field.groupName'|translate}}
                            </th>
                            <th scope="col">
                                {{'field.shortDesc'|translate}}
                            </th>
                            <th scope="col">
                                {{'field.dateCreate'|translate}}
                            </th>

                            <th scope="col" class="pl-3" style="width: 140px;">
                                {{'field.op'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entity of entities$ | async ; trackBy: trackByEntityId;let i = index;">
                            <th scope="row">
                                {{i+1}}
                            </th>
                            <td>
                                {{entity.name}}
                            </td>
                            <td>
                                {{entity.shortDesc}}
                            </td>
                            <td scope="col">
                                {{entity.dateCreate| localDate:'medium':('locale'|translate)}}
                            </td>
                            
                            <td>

                                <button class="btn btn-link" data-toggle="modal" data-target="#groupPageModal"
                                    (click)="showEntityDetail(entity.id)">
                                    <span data-toggle="tooltip" data-placement="bottom"
                                        data-container=".div-demo-main"
                                        title="{{'tooltip.consultEntity'|translate}}">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16"
                                            class="bi bi-file-earmark-text" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                                            <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                                            <path fill-rule="evenodd"
                                                d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                        </svg></span>
                                </button>

                                <button class="btn btn-link" data-toggle="modal" data-target="#groupPageModal"
                                    (click)="resetSubmitFlag();modifyEntityInfo(entity.id);"
                                    [disabled]="entity.status==0">
                                    <span data-toggle="tooltip" data-placement="bottom"
                                        data-container=".div-demo-main"
                                        title="{{'tooltip.modifyEntity'|translate}}">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16"
                                            class="bi bi-file-earmark-font" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                                            <path
                                                d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3zm1.443 3H5.057L5 8h.5c.18-1.096.356-1.192 1.694-1.235l.293-.01v5.09c0 .47-.1.582-.898.655v.5H9.41v-.5c-.803-.073-.903-.184-.903-.654V6.755l.298.01c1.338.043 1.514.14 1.694 1.235h.5l-.057-2z" />
                                        </svg>
                                    </span>
                                </button>
                                <button (click)="toDelete(entity.id);" class="btn btn-link" data-toggle="modal"
                                    data-target="#deleteConfirmation" [disabled]="entity.status==0">
                                    <span data-toggle="tooltip" data-placement="bottom"
                                        data-container=".div-demo-main"
                                        title="{{'tooltip.deleteEntity'|translate}}">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16"
                                            class="bi bi-file-earmark-excel" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                                            <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                                            <path fill-rule="evenodd"
                                                d="M5.18 6.616a.5.5 0 0 1 .704.064L8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 0 1 .064-.704z" />
                                        </svg>
                                    </span>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="row  mr-0 ml-0">
        <div class="col-12">
            <div class="float-right">
                <ul class="pagination pagination-sm">
                    <li class="page-item" [ngClass]="{'disabled':!pageNav?.hasLastPageLot}"><a class="page-link"
                            href="javascript:;" (click)="getPageLot(false)">Previous</a>
                    </li>
                    <li *ngFor="let i of pageNav?.pagesOfNav" class="page-item"
                        [ngClass]="{'active':i == pageNav?.currentPage}">
                        <a class="page-link" href="javascript:;" (click)="getEntities($event)">{{i}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled':!pageNav?.hasNextPageLot}"><a class="page-link"
                            href="javascript:;" (click)="getPageLot(true)">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalSaveConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save the modification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to save the modification?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSaved"
                    data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal saved -->
<div class="modal fade" id="modalSaved" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Saved successfully </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The modification is saved successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal delete entity confirmation-->
<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> {{'title.confirm_delete'|translate:'{entityType:"group"}'}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{'content.confirm_delete'|translate:'{entityType:"group"}'}}
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_delete2" class="invisible" data-dismiss="modal">Yes2</button>
                <button (click)="delete()" type="button" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>


<app-demo-group-page [consultOnly]="consultOnly" [entityToShow]="entityToShow">
</app-demo-group-page>
