<div *ngIf="userToShow!=null" class="modal fade" id="userPageModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span *ngIf="userToShow.id!=null"><span
                            *ngIf="!consultOnly">Modify
                        </span>{{userToShow.name}}'s info</span>
                    <span *ngIf="userToShow.id==null">{{'userMgt.userPage_title_create'|translate}}</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="saveForm()" [formGroup]="userPageForm">
                <div class="modal-body">

                    <div class="form-group row mb-0">
                        <label for="staticEmail"
                            class="col-sm-2 col-form-label">{{'userMgt.userPage_name'|translate}}</label>

                        <div class="col-sm-10" *ngIf="consultOnly">
                            <input type="text" [readonly]="consultOnly"
                                [ngClass]="{'form-control-plaintext':consultOnly,'form-control':!consultOnly}"
                                id="fullAddresse" value="{{userToShow.firstName}} {{userToShow.lastName}}">
                        </div>

                        <div class="input-group col-sm-10 pr-0" *ngIf="!consultOnly">

                            <app-input [fieldName]="'firstName'" [inputValue]="userToShow.firstName"
                                [withPrepend]="true" [propField]="propFirstName"
                                [labelStr]="'userMgt.userPage_firstName'|translate" [submitted]="submitted"
                                [consultOnly]="consultOnly" [placeholderStr]="'formValite.required'|translate">
                            </app-input>
                            &nbsp;
                            <app-input [fieldName]="'lastName'" [inputValue]="userToShow.lastName" [withPrepend]="true"
                                [propField]="propLastName" [labelStr]="'userMgt.userPage_lastName'|translate"
                                [submitted]="submitted" [consultOnly]="consultOnly"
                                [placeholderStr]="'formValite.required'|translate">
                            </app-input>

                        </div>
                    </div>

                    <app-input [fieldName]="'username'" [propField]="propUsername" [inputValue]="userToShow.username"
                        [labelStr]="'userMgt.userPage_username'|translate" [submitted]="submitted"
                        [consultOnly]="consultOnly" [placeholderStr]="'formValite.required'|translate">
                    </app-input>

                    <app-input [fieldName]="'email'" [propField]="propEmail" [inputValue]="userToShow.email"
                        [labelStr]="'userMgt.userPage_email'|translate" [submitted]="submitted"
                        [consultOnly]="consultOnly" [placeholderStr]="'formValite.required'|translate">
                    </app-input>

                    <app-input [fieldName]="'phone'" [inputValue]="userToShow.phone"
                        [labelStr]="'userMgt.userPage_phone'|translate" [submitted]="submitted"
                        [consultOnly]="consultOnly">
                    </app-input>

                    <app-input [fieldName]="'website'" [inputValue]="userToShow.website"
                        [labelStr]="'userMgt.userPage_website'|translate" [submitted]="submitted"
                        [consultOnly]="consultOnly">
                    </app-input>

                    <!-- address info -->
                    <div class="form-group row mb-0">
                        <label for="staticEmail"
                            class="col-sm-2 col-form-label">{{'userMgt.userPage_addr'|translate}}</label>
                        <div class="col-sm-10" *ngIf="consultOnly">
                            <input type="text" [readonly]="consultOnly" class="mb-1"
                                [ngClass]="{'form-control-plaintext':consultOnly,'form-control':!consultOnly}"
                                id="fullAddresse"
                                value="{{userToShow.address.fullAddresse}}">
                        </div>
                        <div class="col-sm-10" *ngIf="!consultOnly">

                            <app-input [fieldName]="'address.street'" [inputValue]="userToShow.address.street"
                                [withPrepend]="true" [labelStr]="'userMgt.userPage_addr_street'|translate"
                                [submitted]="submitted" [consultOnly]="consultOnly">
                            </app-input>

                            <app-input [fieldName]="'address.suite'" [inputValue]="userToShow.address.suite"
                                [withPrepend]="true" [labelStr]="'userMgt.userPage_addr_suite'|translate"
                                [submitted]="submitted" [consultOnly]="consultOnly">
                            </app-input>

                            <app-input [fieldName]="'address.city'" [inputValue]="userToShow.address.city"
                                [withPrepend]="true" [labelStr]="'userMgt.userPage_addr_city'|translate"
                                [submitted]="submitted" [consultOnly]="consultOnly">
                            </app-input>

                            <app-input [fieldName]="'address.zipcode'" [inputValue]="userToShow.address.zipcode"
                                [withPrepend]="true" [labelStr]="'userMgt.userPage_addr_zipcode'|translate"
                                [submitted]="submitted" [consultOnly]="consultOnly">
                            </app-input>

                        </div>
                    </div>

                    <!-- company info -->
                    <div class="form-group row mb-0">
                        <label for="staticEmail"
                            class="col-sm-2 col-form-label">{{'userMgt.userPage_co'|translate}}</label>

                        <div class="col-sm-10" *ngIf="consultOnly">
                            <textarea class="form-control" id="company" rows="4">{{userToShow.company.allCompanyInfo}}</textarea>
                        </div>
                        <div class="col-sm-10" *ngIf="!consultOnly">

                            <app-input [fieldName]="'company.name'" [inputValue]="userToShow.company.name"
                                [withPrepend]="true" [labelStr]="'userMgt.userPage_co_name'|translate"
                                [submitted]="submitted" [consultOnly]="consultOnly">
                            </app-input>

                            <app-input [fieldName]="'company.catchPhrase'" [inputValue]="userToShow.company.catchPhrase"
                                [withPrepend]="true" [labelStr]="'userMgt.userPage_co_catch_phrase'|translate"
                                [submitted]="submitted" [consultOnly]="consultOnly">
                            </app-input>

                            <app-input [fieldName]="'company.bs'" [inputValue]="userToShow.company.bs"
                                [withPrepend]="true" [labelStr]="'userMgt.userPage_co_bs'|translate"
                                [submitted]="submitted" [consultOnly]="consultOnly">
                            </app-input>

                        </div>
                    </div>




                    <!--
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>-->




                </div>
                <div class="modal-footer">
                    <button id="btn_user_page_save" type="submit" data-toggle="modal"
                        data-target="#modalAddConfirmation" data-dismiss="modal" class="invisible">Save</button>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAddConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Ara you sure to created the user?
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_add2" class="invisible" data-toggle="modal" data-target="#modalAdded"
                    data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" (click)="createUser()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal"
                    data-target="#userPageModal">Non</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal saved -->
<div class="modal fade" id="modalAdded" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Created successfully </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The user is created successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>