<div *ngIf="userToShow!=null" class="modal fade" id="userPageModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span *ngIf="userToShow.id!=null"><span
                            *ngIf="!consultOnly">Modify
                        </span>{{userToShow.name}}'s info</span>
                    <span *ngIf="userToShow.id==null">{{'userMgt.userPage_title_create'|translate}}</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="form-group row mb-1">
                        <label for="staticEmail"
                            class="col-sm-2 col-form-label">{{'userMgt.userPage_name'|translate}}</label>
                        <div class="input-group col-sm-5 pr-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                    id="basic-addon1">{{'userMgt.userPage_firstName'|translate}}</span>
                            </div>
                            <input type="text" [readonly]="consultOnly"
                                [ngClass]="{'form-control-plaintext':consultOnly,'form-control':!consultOnly}"
                                id="firstName" [(ngModel)]="userToShow.firstName" [ngModelOptions]="{standalone: true}"
                                required>
                        </div>
                        <div class="input-group col-sm-5 pl-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                    id="basic-addon1">{{'userMgt.userPage_lastName'|translate}}</span>
                            </div>
                            <input type="text" [readonly]="consultOnly"
                                [ngClass]="{'form-control-plaintext':consultOnly,'form-control':!consultOnly}"
                                id="lastName" [(ngModel)]="userToShow.lastName" [ngModelOptions]="{standalone: true}"
                                required>

                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label for="username"
                            class="col-sm-2 col-form-label">{{'userMgt.userPage_username'|translate}}</label>
                        <div class="col-sm-10">
                            <input type="text" [readonly]="consultOnly"
                                [ngClass]="{'form-control-plaintext':consultOnly,'form-control':!consultOnly}"
                                id="username" [(ngModel)]="userToShow.username" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                    <custom-form-input [fieldName]="'username'" [submitted]="submitted" [consultOnly]="consultOnly"
                    [placeholderStr]="'formValite.required'|translate"
                    [labelStr]="'userMgt.userPage_username'|translate" (sendInputValue)="getInputValue($event)"
                    [propField]="propUsername"></custom-form-input>


                    <div class="form-group row mb-1">
                        <label for="email"
                            class="col-sm-2 col-form-label">{{'userMgt.userPage_email'|translate}}</label>
                        <div class="col-sm-10">
                            <input type="text" [readonly]="consultOnly"
                                [ngClass]="{'form-control-plaintext':consultOnly,'form-control':!consultOnly}"
                                id="email" [(ngModel)]="userToShow.email" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label for="staticEmail"
                            class="col-sm-2 col-form-label">{{'userMgt.userPage_phone'|translate}}</label>
                        <div class="col-sm-10">
                            <input type="text" [readonly]="consultOnly"
                                [ngClass]="{'form-control-plaintext':consultOnly,'form-control':!consultOnly}"
                                id="phone" [(ngModel)]="userToShow.phone" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label for="staticEmail"
                            class="col-sm-2 col-form-label">{{'userMgt.userPage_website'|translate}}</label>
                        <div class="col-sm-10">
                            <input type="text" [readonly]="consultOnly"
                                [ngClass]="{'form-control-plaintext':consultOnly,'form-control':!consultOnly}"
                                id="website" [(ngModel)]="userToShow.website" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>



                    <!-- address info -->
                    <div class="form-group row mb-0">
                        <label for="staticEmail"
                            class="col-sm-2 col-form-label">{{'userMgt.userPage_addr'|translate}}</label>
                        <div class="col-sm-10" *ngIf="consultOnly">
                            <input type="text" [readonly]="consultOnly"
                                [ngClass]="{'form-control-plaintext':consultOnly,'form-control':!consultOnly}"
                                id="fullAddresse" [(ngModel)]="userToShow.address.fullAddresse"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-sm-10" *ngIf="!consultOnly">

                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        id="basic-addon1">{{'userMgt.userPage_addr_street'|translate}}</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1" [(ngModel)]="userToShow.address.street"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        id="basic-addon1">{{'userMgt.userPage_addr_suite'|translate}}</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1" [(ngModel)]="userToShow.address.suite"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        id="basic-addon1">{{'userMgt.userPage_addr_city'|translate}}</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1" [(ngModel)]="userToShow.address.city"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        id="basic-addon1">{{'userMgt.userPage_addr_zipcode'|translate}}</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1" [(ngModel)]="userToShow.address.zipcode"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                    </div>

                    <!-- company info -->
                    <div class="form-group row mb-0">
                        <label for="staticEmail"
                            class="col-sm-2 col-form-label">{{'userMgt.userPage_co'|translate}}</label>
                        <div class="col-sm-10" *ngIf="!consultOnly">

                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        id="basic-addon1">{{'userMgt.userPage_co_name'|translate}}</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1" [(ngModel)]="userToShow.company.name"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        id="basic-addon1">{{'userMgt.userPage_co_catch_phrase'|translate}}</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1" [(ngModel)]="userToShow.company.catchPhrase"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        id="basic-addon1">{{'userMgt.userPage_co_bs'|translate}}</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1" [(ngModel)]="userToShow.company.bs"
                                    [ngModelOptions]="{standalone: true}">
                            </div>

                        </div>
                    </div>




                    <!--
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>-->




                </div>
                <div class="modal-footer">
                    <button type="submit" data-toggle="modal" data-target="#modalAddConfirmation" data-dismiss="modal"
                        class="btn btn-primary btn-sm">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAddConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Ara you sure to created the user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAdded"
                    (click)="createUser()" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal"
                    data-target="#userPageModal">Non</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal saved -->
<div class="modal fade" id="modalAdded" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Created successfully </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The user is created successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>