<div class="row about-site-bg">
    <div class="col-12 p-0 ">
        <div class="row p-0 m-0">
            <div style="position: relative;
            left: 100px;
            top: 50px;
            width: 500px;">
                <h1><strong class="text-white">[A title/sentence here, <br>A title/sentence here]</strong></h1>
            </div>
        </div>
        <div class="row p-0 m-0">
            <div class="col-4">
                <div class="rounded shadow-lg p-3" style="background-color: white;position: relative;height: 385px;
    top: 150px;
                ">
                    <h3 class="mb-4"><strong style="color:#0089ffe3">{{'title.leaveMsg'|translate}}</strong></h3>
                    <input type="text" class="form-control mb-1" placeholder="{{'field.yourName'|translate}}" disabled/>
                    <input type="text" class="form-control mb-1" placeholder="{{'field.yourEmail'|translate}}" disabled/>
                    <textarea class="form-control" rows="6" placeholder="{{'field.message'|translate}}" disabled></textarea>
                    <button type="button" class="btn btn-primary float-right mt-3" disabled="true">{{'btn.send'|translate}}</button>
                </div>
            </div>
            <div class="col-3">
                <div class="rounded shadow-lg p-3" style="height: 240px; background-color: white;position: relative;top: 270px;">
                    <h3 class="mb-3"><strong style="color:#ff8100d9;">{{'aboutWebsite.aboutWebsite'|translate}}</strong></h3>
                    <div class="pl-3 pr-3">
                        <h6 class="text-secondary">{{'aboutWebsite.content1'|translate}}
                            <br>
                            {{'aboutWebsite.content2'|translate}}
                        </h6>
                    </div>

                </div>
            </div>
            
            <div class="col-5">
                <div class="rounded shadow-lg p-3 pl-5" style="height: 400px; background-color: white;position: relative;top:150px;">
                    <h3 class="mb-4"><strong style="color: #28a79b;">{{'aboutWebsite.techUsed'|translate}}</strong></h3>
                    <img src="assets/images/tech-used.jpg" class="img-fluid" alt="Responsive image"
                        style="height: 80%;">
                </div>
            </div>
        </div>

        <!--<img src="assets/images/about-site-bg.jpg" class="img-fluid" alt="Responsive image" style="opacity: 0.2;">-->
    </div>
</div>