<div class="row about-site-bg">
    <div class="col-12 p-0 ">
        <div style="    position: inherit;
        left: 300px;
        top: 60px;
        width: 500px;">
            <h1><strong class="text-white">[A title/sentence here, <br>A title/sentence here]</strong></h1>
        </div>


        <!--<img src="assets/images/about-site-bg.jpg" class="img-fluid" alt="Responsive image" style="opacity: 0.2;">-->
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="rounded shadow-lg p-3" style="height: 300px; background-color: white;position: inherit;
        bottom: 200px;
        left: 100px;">
            <h3><strong style="color:#ff8100d9;">Context</strong></h3>

        </div>
    </div>
    <div class="col-5">
        <div class="rounded shadow-lg p-3 pl-5" style="height: 400px; background-color: white;position: inherit;
        bottom: 30px;
        left: 100px;">
            <h3 class="mb-4"><strong style="color: #28a79b;">Technologies used</strong></h3>
            <img src="assets/images/tech-used.jpg" class="img-fluid" alt="Responsive image" style="height: 80%;">
        </div>
    </div>
    <div class="col-4">
        <div class="rounded shadow-lg p-3" style="height: 300px; background-color: white;position: inherit;
        bottom: 150px;
        right: 100px;">
            <h3 class="mb-4"><strong style="color:#0089ffe3">Leave a message</strong></h3>
            <textarea class="form-control" rows="6"></textarea>
            <button type="button" class="btn btn-primary float-right mt-3" disabled="true">Send</button>
        </div>
    </div>
</div>